
/* ----------------------------------------
   PÁGINA DE CORRIDAS
---------------------------------------- */

/* Mapa  */

#map {
  width: 600px;
  height: 400px;       /* o Leaflet só aparece se tiver altura */
  position: relative;
  outline: none;       /* mesmo efeito do outline-style: none */
  margin: 20px auto;   /* centralizado, como você quis */
  border-radius: 12px; /* opcional: cantos arredondados */
}

/* Seção de corridas */

.grade-corridas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 0 40px;
}


.card {
  position: relative;
  background-color: #fff;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.selo {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff5722;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
}

.imagem {
  width: 100%;
  height: 120px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 12px;
}

.titulo {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6px;
}

.data-hora {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 6px;
  gap: 6px;
}

.distancias {
  font-size: 0.8rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 12px;
}

.local {
  font-size: 0.875rem;
  color: #444;
  margin-bottom: 12px;
}

.btn-ver {
  background-color: #2C2C2C;
  text-decoration: none;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.85rem;
}

.btn-ver:hover {
  background-color: #111;
}


/* ----------------------------------------
   DETALHES DA CORRIDA
---------------------------------------- */


.corrida-detalhes {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  gap: 2rem;
}

.corrida-info {
  flex: 1;
  color: #000;
}

.corrida-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.info-detalhe {
  color: #6b7280;
  font-size: 0.9rem;
}

.descricao-detalhe p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.topicos {
  list-style-type: disc;
  padding-left: 1.5rem;      /* afasta do lado esquerdo */
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #374151; 
  font-size: 1rem;
  line-height: 1.6;
  max-width: 100%;           /* impede que ultrapasse os limites do container */
}

.topicos li {
  margin-bottom: 0.5rem;
}
